{% extends 'base.html' %} {% block content %}

<h1>Bird Detail</h1>

<div class="card">
  <div class="card-content">
    <div class="flex-container">
      <div>
        <span class="card-title">{{ bird.name }}</span>
        <p>Breed: {{ bird.breed }}</p>
        <p>Description: {{ bird.description }}</p>

        {% if bird.age > 0 %}
        <p>Age: {{ bird.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %}
      </div>
      <div class="card-section">
        <a href="{% url 'birds_update' bird.id %}">Edit</a>
        <a href="{% url 'birds_delete' bird.id %}">Delete</a>
      </div>
      <div>
        {% load static %}
        <img
          src="{% static bird.image|cut:'main_app/static/' %}"
          width="100px"
          height="100px"
        />
      </div>
    </div>
  </div>
</div>
<div class="col s6">
  <form action="{% url 'add_feeding' bird.id %}" method="post">
    {% csrf_token %} {{ feeding_form.as_p }}
    <input type="submit" class="btn" value="Add Feeding" />
  </form>
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Meal</th>
      </tr>
    </thead>
    <tbody>
      {% for feeding in bird.feeding_set.all %}
      <tr>
        <td>{{feeding.date}}</td>
        <td>{{feeding.get_meal_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  var dateEl = document.getElementById('id_date')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  })

  let selectEl = document.getElementById('id_meal')
  M.FormSelect.init(selectEl)
</script>
{% endblock %}
